.nav-arrow {
    color: #0b3d91;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.nav-arrow:hover {
    color: #3d6fd1;
    animation: nav-pulse 1s infinite;
}

@keyframes nav-pulse {
    from { transform: scale3d(1, 1, 1); }
    50% { transform: scale3d(1.05, 1.05, 1.05); }
    to { transform: scale3d(1, 1, 1); }
}

.up-nav {
    padding-bottom: 5px;
}

.down-nav {
    padding-top: 5px;
}
